<footer>
	<div class="links">
		<div class="logo"><img src="/imgs/logo.png" /></div>

		<div class="right">
			<a href="/" class="active">Home</a>
			<a href="#play">Play</a>
			<a href="#explore">Explore</a>
			<a href="#play">Legal</a>
			<a href="#play">Sitemap</a>
			<a href="https://constitutingamerica.org/">Constituting America</a>
		</div>
	</div>
	<div class="copyright">Made by Tyson McLaws</div>
</footer>
<script>
	function responsiveNav() {
		var x = document.getElementById("myTopnav");
		x.classList.toggle("responsive");
	}
</script>
