<footer>
	<div class="links">
		<div class="logo"><img src="/imgs/logo.png" /></div>

		<div class="right">
			<a href="/" class="active">Home</a>
			<a href="/play">Play</a>
			<a href="/explore">Explore</a>
			<a href="/legal">Legal</a>
			<a href="/sitemap">Sitemap</a>
			<a href="https://constitutingamerica.org/">Constituting America</a>
		</div>
	</div>
	<div class="social">
		<a class="fa-brands fa-github" href="https://github.com/superTyDev"></a>
	</div>
	<div class="copyright">Made by Tyson McLaws</div>
</footer>
<script>
	function responsiveNav() {
		var x = document.getElementById("myTopnav");
		x.classList.toggle("responsive");
	}
</script>
