<!-- <link href="/styles/index.css" rel="stylesheet" type="text/css" /> -->
<link href="/styles/base.css" rel="stylesheet" type="text/css" />
<script
	src="https://kit.fontawesome.com/b02a1c9014.js"
	crossorigin="anonymous"
></script>

<!-- Website Info -->
<title><%= title %> Constitution Web - Explore the Constitution</title>
<link rel="icon" type="image/x-icon" href="/imgs/favicon.ico" />
<meta
	name="description"
	content="A web app that encourages young interest in the US Constitution."
/>
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />
