<nav class="topnav" id="myTopnav">
	<a href="/" class="logo"><img src="/imgs/logo.png" /></a>

	<a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
		<i class="fa fa-bars"></i>
	</a>
	<a href="/learn" id="learn">Learn</a>
	<a href="/play" id="play">Play</a>
	<a href="/" id="home">Home</a>
</nav>
