<nav class="topnav" id="myTopnav">
	<a href="/" class="logo"><img src="/imgs/logo.png" /></a>

	<a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
		<i class="fa fa-bars"></i>
	</a>
	<a href="#explore">Explore</a>
	<a href="#play">Play</a>
	<a href="/" class="active">Home</a>
</nav>
