<!DOCTYPE html>
<html class="theme-light">
	<head>
		<%- include('head', {title: title}); -%>
	</head>
	<body>
		<%- include('nav'); -%>
		<main>hello</main>
		<%- include('foot'); -%>
	</body>
</html>
