<!DOCTYPE html>
<html class="theme-light">
	<head>
		<%- include('head', {title: title}); -%>

		<style>
			main {
				padding: 20px 20%;
			}

			/* Remove default bullets */
			ul,
			#myUL {
				list-style-type: none;
			}

			/* Remove margins and padding from the parent ul */
			#myUL {
				margin: 0;
				padding: 0;
			}

			li {
				padding: 5px;
			}

			/* Style the caret/arrow */
			.caret {
				cursor: pointer;
				user-select: none; /* Prevent text selection */
			}

			/* Create the caret/arrow with a unicode, and style it */
			.caret::before {
				content: "\25B6";
				color: black;
				display: inline-block;
				margin-right: 6px;
			}

			/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
			.caret-down::before {
				transform: rotate(90deg);
			}

			/* Hide the nested list */
			.nested {
				display: none;
			}

			/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
			.active {
				display: block;
			}
		</style>
	</head>
	<body>
		<%- include('nav'); -%>
		<main>
			<ul id="myUL">
				<li>
					<span><a href="/">Home</a></span>
				</li>
				<li>
					<span class="caret"><a href="/play">Play</a></span>
					<ul class="nested">
						<li><a href="/play/chaos">Convention Chaos</a></li>
						<li><a href="/play/trivia">Timeline Trivia</a></li>
						<li><a href="/play/amendments">The Amendments</a></li>
					</ul>
				</li>
				<li>
					<span class="caret"><a href="/learn">Learn</a></span>
					<ul class="nested">
						<li><a href="/learn/flag">Flags and Symbols</a></li>
						<li><a href="/learn/constitution">Constitution</a></li>
						<li><a href="/learn/convention">The Convention</a></li>
						<li><a href="/learn/capitol">National Buildings</a></li>
					</ul>
				</li>
				<li>
					<span class="caret"><a href="/legal">Legal</a></span>
					<ul class="nested">
						<li><a href="/legal/terms">Terms of Use</a></li>
						<li><a href="/legal/privacy">Privacy Policy</a></li>
						<li><a href="/legal/copyright">Copyright</a></li>
				</li>
			</ul>
		</main>

		<script>
			var toggler = document.getElementsByClassName("caret");
			var i;

			for (i = 0; i < toggler.length; i++) {
				toggler[i].addEventListener("click", function () {
					this.parentElement
						.querySelector(".nested")
						.classList.toggle("active");
					this.classList.toggle("caret-down");
				});
			}
		</script>

		<%- include('foot'); -%>
	</body>
</html>
